<!--
  Generated template for the NuevaJornadaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nueva jornada</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="exit()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="jornadaForm" (ngSubmit)="submitJornada(jornadaForm.value)">
    <ion-item [ngClass]="{'error-border':!jornadaForm.controls.fecha.valid && jornadaForm.controls.fecha.touched}">
      <ion-label fixed>Fecha</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fecha" required></ion-datetime>
	</ion-item>
	<p *ngIf="jornadaForm.controls.fecha.hasError('required') && jornadaForm.controls.fecha.touched" class="error">Debes introducir una fecha</p>
	
	<ion-item>
		<ion-label>¿En casa?</ion-label>
		<ion-checkbox formControlName="local" required></ion-checkbox>
	</ion-item>

	<ion-item>
		<ion-label>Equipo</ion-label>
		<ion-select formControlName="equipo" required>
			<ion-option *ngFor="let equipo of this.equipos" value="{{ equipo.nombre }}">{{ equipo.nombre }}</ion-option>
		</ion-select>
	</ion-item>
	
	<div padding>
      <button type="submit" [disabled]="!jornadaForm.valid" ion-button block>Guardar</button>
    </div>
  </form>
</ion-content>
